  body
      {
	  position: absolute;
	  width: 100%;	  
	  margin: 0 auto;
	  height: 300px;
	  top: 32%;
	  margin-top: -74px;
	  text-align: center;
	  font-size: 30px;
      }
      .splitflap
      {
	      font-size: 150px;
	  margin-bottom: 30px;
      }
      .splitflap .segment
      {
	  font-family: sans-serif;
	  width: 145px;
      }
	 
	  
      .splitflap .segment:first-child .top li
      {
	  border-top-left-radius: 20px;
      }
      .splitflap .segment:last-child .top li
      {
	  border-top-right-radius: 20px;
      }
      .splitflap .segment:first-child .bottom li
      {
	  border-bottom-left-radius: 20px;
      }
      .splitflap .segment:last-child .bottom li
      {
	  border-bottom-right-radius: 20px;
      } 